.card-container {
  display: inline-flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap; /* Wrap the cards to the next line if needed */
}

.card {
  padding: 20px;
  width: 300px;
  height: 450px; /* Fixed height for the cards */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 10px; /* Jarak antara kartu-kartu */
  text-align: center; /* Menengahkan teks di dalam kartu */
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  font-size: 16px;
  margin-bottom: 8px;
}
