.footer {
    background-color: #fcd303;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-social-icons i {
    font-size: 20px;
  }
  
  .footer-disclaimer {
    text-align: center;
    margin-top: 10px;
  }
  





 