/* Header.css */

.navbar {
  background-color: #fcd303;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #f12727;
}
