.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  transition: transform 0.3s;
  border-radius: 10px;
  background-color: rgb(234, 225, 225);
}

.card:hover {
  transform: scale(1.1);
}
